<h2 class="main_style-h2">About JS</h2>
<article class="about_article">
  <img src="https://scontent.fmel3-1.fna.fbcdn.net/v/t1.6435-9/68629963_2447087968709504_5207534674011750400_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=V9I3PcpdnCsAX_-ZmAU&_nc_ht=scontent.fmel3-1.fna&oh=3e0a191e01892ae37be5435445727314&oe=60D1207E" alt="" class="js_img">
  <p class="about_text">
    JS is an app that allows you to add records, edit information about them, delete them or browse if you are looking
    for one.<br><br>
  
    Just Seba has been DJing as well as collecting records for long time which gave him the experience he needs
    to recommend records and also to give you a space for adding more to the music community.
  </p>
</article>