<header class="main_header">
  <h1 class="main_headline"><span>JUST SEBA </span> RECORDS</h1>
</header>
<h2 class="main_style-h2">WELCOME <% if is_logged_in? %><%= current_user()["first_name"] %><% end %></h2>