<header class="main_header">
  <h1 class="main_headline"><span>JUST SEBA </span> RECORDS</h1>
</header>
<h2 class="main_style-h2">WELCOME <% if is_logged_in? %><%= current_user()["first_name"] %><% end %></h2>
<hr>

<article class="home_content">
  <section class="full_width record_store">
    <div class="overlay left">
      <a href="/record-stores" class="home_content_link">RECORD STORES</a>
    </div>
  </section>
  <section class="full_width djs">
    <div class="overlay right">
      <a href="/djs" class="home_content_link">DJS</a>
    </div>
  </section>
  <section class="full_width equipment">
    <div class="overlay right">
      <a href="" class="home_content_link">DJS</a>
    </div>
  </section>

</article>