<h2 class="main_style-h2">Records</h2>
<hr>

<section class="records_grid">
<% if is_logged_in? %>
  <a href="/add" class="record_link"><img src="https://static.thenounproject.com/png/212203-200.png" alt="" class="add_record_sign"><img src="https://cdn.pixabay.com/photo/2014/10/27/06/44/record-504759_640.png" alt="" class="add_record_vinyl"></a>
<% end %>
  <% info.each do |record| %>
    <a href="/view/<%= record["id"] %>" class="each_record-link">
    <section class="each_record">
      <div class="info">
        <h3 class="main_style-h3"><%= record["record_name"] %></h3>
        <p class="main_style-p"><span class="black_text">Artist: </span><%= record["artist"] %></p>
      </div>
      <aside>
        <img src="<%= record["artwork_url"] %>" alt="">
      </aside>
    </section>
    </a>
  <% end %>
</section>