<h2 class="main_style-h2">Records</h2>
<section class="records_grid">
<a href="/add" class="record_link">Add new record</a>
  <% info.each do |record| %>
    <a href="/view/<%= record["id"] %>" class="each_record-link">
    <section class="each_record">
      <div class="info">
        <h3 class="main_style-h3"><%= record["record_name"] %></h3>
        <p class="main_style-p"><span class="black_text">Artist: </span><%= record["artist"] %></p>
      </div>
      <aside>
        <img src="<%= record["artwork_url"] %>" alt="">
      </aside>
    </section>
    </a>
  <% end %>
</section>