<h2 class="main_style-h2">Search</h2>

<%# <form action="/search" method="POST" class="main_style-form">
  <label class="main_style-label" for="user_search">Find:</label>
  <input type="text" name="user_search" value="" class="main_style-input">

  <input type="submit" name="Submit" value="Go!" class="main_style-btn-input">
</form> %>
<h1>WHAT IS THIS?<%= artist.members.count %></h1>
<h1>WHAT IS THIS?<%= search.results.first.id %></h1>