<h2 class="main_style-h2">Sign Up</h2>

<form action="/users/new" method="POST" class="main_style-form">
  <label class="main_style-label" for="first_name">First Name:</label>
  <input type="text" name="first_name" class="main_style-input" value="">

  <label class="main_style-label" for="last_name">Last Name:</label>
  <input type="text" name="last_name" class="main_style-input" value="">

  <label class="main_style-label" for="email">Email:</label>
  <input type="text" name="email" class="main_style-input" value="">

  <label class="main_style-label" for="password">Password:</label>
  <input type="password" name="password" class="main_style-input" value="">

  <input type="submit" name="Submit" value="CREATE ACCOUNT" class="main_style-btn-input">
</form>